.tpl-30jdxw15 {
div.ticket-wrapper
{
    float:left;
    width:120px;
    height:100px;
    cursor: pointer;
    margin: 20px
     

}


div.ticket-wrapper span.title
{
    font-size:1.2em;

    text-align:center;
    display:block
}
div.ticket-wrapper div.image-ticket
{

    margin-top: 5px;
}

div.ticket-wrapper div.image-ticket .x-view-item-focused {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}
div.ticket-wrapper div.image-ticket .x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}
div.ticket-wrapper .x-item-selected .image-ticket {
    background:transparent;
}

div.ticket-wrapper span.importance
{
    display:block;
    width:80%;
    height:50px;
    color:white;
    font-weight:bold;
    font-size:3em;
    text-align:center;
    margin:10px 10%;
}

div.ticket-wrapper span.importance.importance-1 {background-color:green;}
div.ticket-wrapper span.importance.importance-2 {background-color:yellow;}
div.ticket-wrapper span.importance.importance-3 {background-color:orange;}
div.ticket-wrapper span.importance.importance-4 {background-color:pink;}
div.ticket-wrapper span.importance.importance-5 {background-color:red;}

div.ticket-wrapper span.description
{
    padding: 5px;
    display: block;
    text-align: center;
}

div.ticket-wrapper span.status
{
    display:block;
    width:60%;
    margin: 10px 20%;
    padding: 3px;
    text-align:center;
    colow:white;
    font-weight:bold;
}

div.ticket-wrapper span.status.open{baackground-color:green;}
div.ticket-wrapper span.status.in-progress{background-color:yellow;}
div.ticket-wrapper span.status.complete{background-color:purple;}
}
