$color: rgba(0,0,0,1);
$base-color: rgba(26,152,80,1);
$base-highlight-color: rgba(102,189,99,1);
$base-light-color: rgba(166,217,106,1);
$base-dark-color: rgba(0,104,55,1);
$error-color: rgba(215,48,39,1);
$confirmation-color: rgba(115,181,30,1);
$error-light-color: rgba(244,109,67,1);
$confirmation-light-color: rgba(164,206,108,1);
$body-background-color: rgba(255,255,255,1);
$base-gradient: glossy-button;